/* Text styling */
h1, h2, h3, h4, h5, h6, p, li { font-family: Arial; }

/* The Simple Menu */
.simple ul{ background:#0d47a1; padding:0; }

.simple li{ 
  display:inline-block; 
  min-width:100px; 
  z-index:999; 
}
.simple a{ 
  text-decoration:none; 
  display:inline-block; 
  color:white; 
  padding:15px;
  transition:0.2s all linear;
}

.simple a:hover{
  background:#e3f2fd;
  color:black;
  transition:0.2s all linear;
}


/* dropdown */
.dropdown ul{ position:relative;  }

.dropdown li > ul { 
  background:#1565c0; 
  display:none;
  position:absolute;
  z-index:1999;
}

.dropdown li > ul li{ display:block; }

.dropdown li:hover  > ul{
  display:block;
}

/* multi */
.multi li {  position: relative; } 
.multi ul ul ul { 
  background:green; 
  position:absolute;
  left:100%;
  top:0;
}

/* all three parts compiled into a single class */

.nav ul { 
   background:#0d47a1; 
   padding:0;

}

.nav li { 
  width:100px;
  position: relative; 
  display:inline-block; 
}


.nav a{ 
  text-decoration:none; 
  display:block; 
  color:white; 
  padding:15px;
  transition:0.2s all linear;
}

.nav a:hover{
  background:#e3f2fd;
  color:black;
  transition:0.2s all linear;
}

.nav li > ul { 
  background:#1565c0; 
  display:none;
  position:absolute;
}

.nav li > ul li{ display:block; }

.nav li:hover  > ul{
  display:block;
}

.nav ul ul ul { 
  background:green; 
  position:absolute;
  left:100%;
  top:0;
}

